.stopscrolling {  
    overflow: hidden; 
     
   
}


.popupbox {        
    opacity: 0.2; 
    z-index: 999; 
    
    
}


.navbar {
    z-index: 1001;
    position: fixed;
    width: 1330px;
    
}



.popup {
   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(156, 163, 171);   
    width: 26rem;
    height: 28rem;   
    position: fixed;
    z-index: 1000; 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
    padding: 1.5rem;
   


}


.notifications {
    width: 20rem;
    height: 32rem;
    right: 0;
    top: 4rem;
    position: fixed;    
    background-color: rgb(225, 234, 234);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

.menu {   
        width: 13rem;
        height: 30rem;
        right: 0;
        top: 4rem;
        position: fixed;    
        background-color: rgb(225, 234, 234);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
        padding: 1.2rem;

}


.screenbox  {
    width: 1500px;
    height: 750px;
    top:0;
    left: 0;
    z-index: 1000;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.704);
    
    
}



.hehe {
    background-color: slategrey;
    background-color: rgb(162, 161, 161);
    background-color: rgb(69, 40, 40);

}


.openmessenger {
   
    top: 50%;
    left: 60%;    
    background-color: rgb(212, 214, 217);   
    width: 18rem;
    height: 22rem;  
    position: fixed; 
    
    z-index: 1000; 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
    padding: 1rem;
    transform: translate(-30%, -0%);
   


}


.emoform {
   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(156, 163, 171);   
    width: 32rem;
    height: 28rem;   
    position: fixed;
    z-index: 1000; 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
    padding: 1.5rem;
    


}


.loginbox {
   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(156, 163, 171);   
    width: 20rem;
    height: 20rem;   
    position: fixed;
    z-index: 1000; 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
    padding: 3rem;
   


}




.loginscreenbox  {
    width: 1500px;
    height: 850px;
    top:0;
    left: 0;
    z-index: 1000;
    position: fixed;
    background-color: rgb(255, 255, 255);
    
    
}